<span>Página</span>
<button type="button" class="btn btn-default" aria-label="Anterior" {{action 'goToPreviousPage'}} disabled={{equals currentPage 1}}>
  a
</button>
{{input type="number" class="form-control" value=currentPage}}
<button type="button" class="btn btn-default" aria-label="Siguiente" {{action 'goToNextPage'}} disabled={{equals currentPage totalPages}}>
  b
</button>
<span>de {{totalPages}}</span>

<span class="pull-right">
  <select class="form-control" onchange={{action (mut pageSize) value="target.value"}}>
    {{#each pageSizeOptions as |choice|}}
      <option value={{choice}} selected={{equals pageSize choice}}>{{choice}}</option>
    {{/each}}
  </select>
  <span>
    items por página
  </span>
</span>
