{{#if column.sortable}}
  <div class="clickable" {{action 'sortColumn' column.key}}>
    {{fixtable-column-label column=column}}
    {{#if (equals column.key sortBy)}}
      {{#if sortAscending}}
        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
      {{else}}
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      {{/if}}
    {{/if}}
  </div>
{{else}}
  <div>
    {{fixtable-column-label column=column}}
  </div>
{{/if}}
