{{#if isLoading}}
	<div class="loader icon-fixed with-header">
		<i class="fa fa-spin fa-4x fa-fw" aria-hidden="true">
	    <img src="/assets/images/ceop-logo-spin.png">
	  </i>
  </div>
{{else}}
	{{#if isExporting}}
		<div class="loader icon-fixed with-header">
			<i class="fa fa-spin fa-4x fa-fw" aria-hidden="true">
		    <img src="/assets/images/ceop-logo-spin.png">
		  </i>
	  </div>
  {{/if}}
	<div class="buttons-wrapper">
  	{{!-- {{elements/button-component theme="light" text="Aplicar filtros" iconClass="fa fa-filter" action=(action 'applyFilters')}} --}}
  	{{elements/button-component theme="light" text="Exportar a PDF" class="visible-full-desktop" iconClass="fa fa-file-pdf-o" action=(action 'exportToPDF')}}
	</div>
	{{#each rows as |row i0|}}
		<div class="print-row">
			{{#if row.title}}
				<div class="row">
					<h3>{{row.title}}</h3>
				</div>
			{{/if}}
			<div class="row text-center">
			{{#each row.columns as |column i1|}}
				<div class="col-md-{{column.size}} sizeable-column" style="border: 8px solid transparent">
					<div class="row nested text-center">
					{{#if column.title}}
						{{#if (and column.titleType (eq column.titleType 'highlight'))}}
							<h3 class="highlighted">{{column.title}}</h3>
						{{else}}
							<h3>{{column.title}}</h3>
						{{/if}}
					{{/if}}
					{{#each column.columns as |colrow i2|}}
						<div class="col-md-{{colrow.size}} sizeable-column" style="border: 8px solid transparent">
							{{component colrow.component data=colrow.data i0=i0 i1=i1 i2=i2 action=(action 'applyFilters')}}
						</div>
					{{else}}
						{{#if column.component}}
							{{component column.component data=column.data i0=i0 i1=i1 action=(action 'applyFilters')}}
						{{/if}}
					{{/each}}
					</div>
				</div>
			{{/each}}
			</div>
		</div>
	{{/each}}
{{/if}}
