<div class="pages-description">
<span>Página</span>
{{#unless (equals currentPage 1)}}
<a aria-label="Anterior" {{action 'goToPreviousPage'}}>
  «
</a>
{{/unless}}
{{currentPage}}
{{#unless (equals currentPage totalPages)}}
<a aria-label="Siguiente" {{action 'goToNextPage'}}>
  »
</a>
{{/unless}}
<span>de {{totalPages}}</span>
</div>
<span class="pull-right">
  <select class="form-control" onchange={{action (mut pageSize) value="target.value"}}>
    {{#each pageSizeOptions as |choice|}}
      <option value={{choice}} selected={{equals pageSize choice}}>{{choice}}</option>
    {{/each}}
  </select>
  <span>
    items por página
  </span>
</span>
