{{#unless (or (or (eq column.key 'select_all') (eq column.key 'actions')) (eq column.key 'segments'))}}
  {{#unless column.preventFilter}}
    {{#if filter}}
      <i class="fa fa-filter filtering" {{action 'toggleFilter'}}></i>
    {{else}}
      <i class="fa fa-filter" {{action 'toggleFilter'}}></i>
    {{/if}}
  {{/unless}}
{{/unless}}
{{#if column.sortable}}
  <div class="clickable" {{action 'sortColumn' column.key}}>
    {{fixtable-column-label column=column}}
    {{#if (equals column.key sortBy)}}
      {{#if sortAscending}}
        <span class="fa fa-angle-up" aria-hidden="true"></span>
      {{else}}
        <span class="fa fa-angle-down" aria-hidden="true"></span>
      {{/if}}
    {{/if}}
  </div>
{{else}}
  <div>
    {{fixtable-column-label column=column filter=filter applyManualFilter=applyManualFilter}}
  </div>
{{/if}}
{{#if filterActive}}
  {{popup-filter applyManualFilter=applyManualFilter filter=filter closeAll=closeAll filterActive=filterActive column=column}}
{{/if}}
