<div class={{if fixtableClass (concat 'fixtable ' fixtableClass) 'fixtable'}}>
  <div class="fixtable-inner">
    <table class={{if tableClass (concat 'table ' tableClass) 'table'}}>
      <thead>
        <tr class="fixtable-column-headers">
          {{#if rowSelection}}
            <th>
              <div class="fixtable-checkbox">
                {{input type="checkbox" checked=selectAllToggle}}
              </div>
            </th>
          {{/if}}
          {{#each columns as |column|}}
            {{fixtable-column-header closeAllFilters=(action 'closeAllFilters') close=true applyManualFilter=(action 'applyManualFilter') filter=(mut (get filters column.key)) column=column sortBy=sortBy sortAscending=sortAscending sortColumn="sortColumn"}}
          {{/each}}
        </tr>
      </thead>
      <tbody>
      {{#each visibleContent as |row rowIndex|}}
          <tr class={{if (get selectedRows (concat '' rowIndex)) 'active'}}>
            {{#if rowSelection}}
              <td>
                <div class="fixtable-checkbox">
                  {{!-- we need concat here to convert rowIndex into a string for the get helper --}}
                  {{input type="checkbox" checked=(mut (get selectedRows (concat '' rowIndex)))}}
                </div>
              </td>
            {{/if}}
            {{#each columns as |column|}}
              <td class={{column.cellClass}} style="max-width:{{column.width}}px;">
                {{#if column.component}}
                  {{!-- render the passed-in component --}}
                  {{#if (and (not-eq column.key 'actions') (not-eq column.key 'select_all') (not-eq (get row column.key) '') (not-eq (get row column.key) null) (gt-str (get row column.key) column.maxLength))}}
                    {{#tooltip-on-element side='top'}} 
                      <div class="cell-content">
                        {{component column.component dataRow=row columnDef=column bubbleAction=(action sendAction)}}
                      </div>
                    {{/tooltip-on-element}}
                  {{/if}}
                  <div class="cell-content">
                    {{component column.component dataRow=row columnDef=column bubbleAction=(action sendAction)}}
                  </div>
                {{else}}
                  {{!-- directly render the cell --}}
                  {{#if (and (not-eq column.key 'actions') (not-eq column.key 'select_all') (not-eq (get row column.key) '') (not-eq (get row column.key) null) (gt-str (get row column.key) column.maxLength))}}
                    {{#tooltip-on-element side='top'}} 
                      <div class="cell-content">
                        {{get row column.key}}
                      </div>
                    {{/tooltip-on-element}}
                  {{/if}}
                  <div class="cell-content">
                    {{get row column.key}}
                  </div>
                {{/if}}
              </td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
      {{#if isLoading}}
        <div class="fixtable-centered dark-overlay">
          <i class="fa fa-spin fa-4x fa-fw" aria-hidden="true">
            <img src="/assets/images/ceop-logo-spin.png">
          </i>
          <span class="sr-only">Cargando...</span>
        </div>
      {{else}}
        {{#unless visibleContent.length}}
          <div class="fixtable-centered">
            <h4>{{nullMessage}}</h4>
          </div>
        {{/unless}}
      {{/if}}
  </div>
</div>
{{#if (and showPaging visibleContent.length)}}
  {{fixtable-footer
    currentPage=currentPage totalPages=totalPages pageSize=pageSize pageSizeOptions=pageSizeOptions
    goToNextPage="goToNextPage" goToPreviousPage="goToPreviousPage"}}
{{/if}}
